{% extends 'base.html' %}

{% block body %}
<h2>{{ the_title }}</h2>
<form method="GET" action="/">
    <p><input name="the_region_selected" value='首页' type='SUBMIT'></p>
</form>
<h2>观点总结</h2>

<p>由本网站的数据表和图表得出：</p>
<ol>
<li>世界抑郁症患病人数在近十年内变化不大，部分国家的患病人数逐年上升。北美洲、亚洲、大洋洲和南美洲的患病人数较多。</li>
<li>世界抑郁症患病率在近十年内变化不大，部分国家患病率逐年下降，格陵兰患病人数少、患病率却高，而中国、俄罗斯、巴西等国家的情况与之相反。</li>
<li>在整体上，世界女性抑郁症患者多于男性。</li>
<li>世界抑郁症患病率与失业率相关性不大。</li>
<li>女性抑郁症患病率与妇女生育数量存在一定的关系。</li>
<li>抑郁症患病率在很大程度上与国家经济发展情况有一定的关系。</li>
</ol>


<p><b>抑郁症患病与性别、学历、工作状态、妇女生育情况、国家经济发展有关。女性情感较细腻，加上生育前后心理和生理存在一定变化，所以更容易患上抑郁症，而国家或许可以为女性提供相关福利，如，免费的产前、产后心理辅导等。最后，国家发展越快，经济状况越好，各方面的竞争也会随之变大，压力也随之变大。<b/></p>

<p><b>在健康面前，万事皆小，无论身边有多少不良因素，也要随时保持良好心情，争取健康的身心。</b></p>

<p>数据总会存在一定的误差，本次研究得出的结论仅供参考。</p>
{% endblock %}
